@import "../../../scss/mixin.scss";

.header {
    top: 0;
    background-color: #ffffff;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    align-items: center;
    // @include for-tablet-landscape-up {
    //     justify-content: center;
    // }
}
.tittle {
    margin: 0;
    padding: 34px;
    font-size: 28px;
    color: #65c2f1;
    font-weight: bold;
    cursor: pointer;
    font-style: italic;
    text-align: center;
}
.lps-icon {
    margin-right: 12px;
    @include for-tablet-landscape-up {
        margin-right: 40px;
    }
}

.contact {
    position: absolute;
    right: 0;
}

.lps-img-call {
    height: 24px;
    width: 24px;
}
