<div class="footer">
    <div class="address-block">
        <p class="address-heading">Adress : <span class="address">
                7, Muthu Mariyamma Complex, Maragondanahalli main Road, T.C.Palya, K.R. Puram, Bengaluru, Karnataka
                560036
            </span></p>
    </div>
    <div class="container">
        <p class="address-heading connect">Connect with us : </p>
        <a href="https://www.facebook.com/leakproofsolutions/" target="_blank"><img class="social-link"
                src="assets/facebook.png" /></a>
        <a href="https://www.youtube.com/channel/UCYkg5HNveKZTkaQLl-kiMKA" target="_blank"><img class="social-link"
                src="assets/youtube.png" /></a>
        <a class="lps-icon" href="mailto:arun.leakproof@gmail.com"> <img class="social-link lps-mail"
                src="assets/mail-icon.png">
        </a>
    </div>
</div>